.imgtext-h-block .text-right h3 {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}
ul.inline-block li {
	display: inline-block
}
#container {
	margin-left: auto;
	margin-right: auto
}
.fl {
	float: left
}
.fr {
	float: right
}
.clearfix:before, ul.inline-float:before, .clearfix:after, ul.inline-float:after {
	content: "";
	display: table;
	font: 0/0 a
}
.clearfix:after, ul.inline-float:after {
	clear: both
}
.hidden {
	display: none !important;
	visibility: hidden
}
.visually-hidden {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px)
}
.invisible {
	visibility: hidden
}
ul.has-style, ul.disc, ul.circle, ul.square {
	margin-left: 25px;
	list-style: disc
}
.ir {
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
	line-height: 99;
	overflow: hidden
}
.imgtext-h-block .text-right h3 {
	width: 100%
}
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
.items-list .hover, .items-list .title {
	-webkit-transition: all 0.15s ease-out;
	-moz-transition: all 0.15s ease-out;
	-o-transition: all 0.15s ease-out;
	transition: all 0.15s ease-out
}
.btn {
	display: inline-block;
	cursor: pointer;
	text-align: center;
	font-size: 14px;
	padding: 0 16px;
	line-height: 28px;
	color: #fff;
	background-color: #f47837;
	-webkit-border-radius: 4px;
	border-radius: 4px
}
.btn:hover {
	color: #fff;
	background-color: #f3681f
}
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
	display: block
}
audio, canvas, video {
	display: inline-block
}
audio:not([controls]) {
	display: none;
	height: 0
}
[hidden] {
	display: none
}
html {
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}
html, button, input, select, textarea {
	font-family: sans-serif
}
body {
	margin: 0
}
a:focus {
	outline: thin dotted
}
a:hover, a:active {
	outline: 0
}
abbr[title] {
	border-bottom: 1px dotted
}
b, strong {
	font-weight: bold
}
dfn {
	font-style: italic
}
mark {
	background: #ff0;
	color: #000
}
code, kbd, pre, samp {
	font-family: monospace, serif;
	font-size: 1em
}
pre {
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word
}
q {
	quotes: "\201C" "\201D" "\2018" "\2019"
}
q:before, q:after {
	content: '';
	content: none
}
small {
	font-size: 80%
}
sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}
sup {
	top: -0.5em
}
sub {
	bottom: -0.25em
}
img {
	border: 0
}
svg:not(:root) {
	overflow: hidden
}
figure {
	margin: 0
}
fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em
}
legend {
	border: 0;
	padding: 0;
	white-space: normal
}
button, input, select, textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
	vertical-align: baseline
}
button, input {
	line-height: normal
}
button, select {
	text-transform: none
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer
}
button[disabled], input[disabled] {
	cursor: default
}
input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
	padding: 0
}
input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none
}
button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0
}
textarea {
	overflow: auto;
	vertical-align: top
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
html {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%
}
body {
	font-size: 14px;
	line-height: 1.5;
	color: #333;
	background-color: #fff
}
body, button, input, select, textarea {
	font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif
}
img {
	border: 0 none;
	vertical-align: middle
}
textarea {
	resize: vertical
}
h1, h2, h3, h4, h5, h6, p, figure, form {
	margin: 0
}
ul, ol, li, dl, dd {
	margin: 0;
	padding: 0
}
ul, ol {
	list-style: none outside none
}
input:-moz-placeholder, textarea:-moz-placeholder {
	color: #ccc
}
input::-moz-placeholder, textarea::-moz-placeholder {
	color: #ccc
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
	color: #ccc
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
	color: #ccc
}
.tal {
	text-align: left
}
.tar {
	text-align: right
}
.tac {
	text-align: center
}
.gray {
	color: #ccc
}
a {
	text-decoration: none;
	color: #08c
}
a:hover {
	color: #069
}
h1, h2, h3 {
	line-height: 2;
	font-weight: normal
}
h1 {
	font-size: 21px
}
h2 {
	font-size: 18.2px
}
h3 {
	font-size: 16.38px
}
h4 {
	font-size: 14px
}
h5, h6 {
	font-size: 11.9px;
	text-transform: uppercase
}
ul.circle {
	list-style: circle
}
ul.square {
	list-style: square
}
ul.inline-float li {
	float: left
}
ul.inline-block li {
	margin-right: 8px
}
blockquote {
	padding: 0 0 0 15px;
	margin: 0 0 10px;
	border-left: 3px solid #ccc
}
blockquote small {
	font-size: 11.9px;
	display: block;
	line-height: 1.5;
	color: #999
}
blockquote small:before {
	content: '\2014 \00A0'
}
q:before, q:after, blockquote:before, blockquote:after {
	content: ""
}
address {
	display: block;
	margin-bottom: 10px;
	font-style: normal;
	line-height: 1.5
}
hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0
}
.article {
	line-height: 1.6
}
.article h1, .article h2, .article h3, .article h4, .article h5, .article h6 {
	line-height: 1.3;
	margin-bottom: 10px
}
.article ul, .article ol {
	margin-left: 25px;
	list-style-type: disc
}
.article ol {
	list-style-type: decimal
}
.article p, .article ul, .article ol, .article dl {
	margin-bottom: 10px
}
.article ul ul, .article ul ol, .article ol ol, .article ol ul {
	margin-bottom: 0
}
.article dt {
	font-weight: bold;
	line-height: 1.8
}
.article dd {
	margin-left: 2em
}
.article img {
	margin-bottom: 10px;
	border: 1px solid #ccc;
	padding: 2px
}
.article .fr img {
	margin-left: 10px
}
.article .fl img {
	margin-right: 10px
}
.error, .success, .warning, .info {
	padding: 8px;
	padding-left: 25px;
	background-position: 5px center;
	background-repeat: no-repeat;
	-webkit-border-radius: 4px;
	border-radius: 4px
}
.error a, .success a, .warning a, .info a {
	text-decoration: underline
}
.error {
	background-color: #fbe3e4;
	border: 2px solid #fbc2c4;
	color: #8a1f11;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAKlBMVEX////XY1Hma1rsfGbzhm3vloXwqZz3uanxwLX4z8f76+j//v7////KWkTZGHxrAAAAAXRSTlMAQObYZgAAAAFiS0dEDIGzUWMAAAAJcEhZcwAACxMAAAsTAQCanBgAAACSSURBVHheTc4xC4JAAEDhBwaZUy5tQYgYrl0QBW3aUNvh5WqEBI2WzbU2FbS5SESEa/QT2htb/C/R5pve+FHpEXhHgIa32okTcAkDP3XB8FNPhDJHH0xvw2cSUYv7RSZVB20rZm/L+aBtRFb0/qPc1+iqmtS7jrQOiwjDTiyzNc7hPJH28gvo5jwu9wD3drmuGH4w6SDkKQ/JcAAAAABJRU5ErkJggg==)
}
.error a {
	color: #8a1f11
}
.success {
	background-color: #e6efc2;
	border: 2px solid #c6d880;
	color: #264409;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAMFBMVEX///88kTZIoTZnuktxwGB+xG2Vyoag1pSr2J2y26e64LPT4c7j8OD9/vz///80fTAtdG2AAAAAAXRSTlMAQObYZgAAAAFiS0dEDm+9ME8AAAAJcEhZcwAACxMAAAsTAQCanBgAAACcSURBVHheTY6vCsJQHIUPLih6g/gCJotFmEMw+1PwRrmiQ8SBfxhilctewGRSh1XDjBZ9gCXBF1j0Ce5A65J3baecD074DjJ5d5r7tEuWdzYvAB7r7ehWB1grEEN7EKLABVFwdGBIQVytysj5/HmPxl8NUxUvNBiy+4ksPeXbNJnTwQGrnYj6sxC42suenwAoVtxdI1XgVf1tMh/++cUnmPeAc0MAAAAASUVORK5CYII=)
}
.success a {
	color: #264409
}
.warning {
	background-color: #fff6bf;
	border: 2px solid #ffd324;
	color: #514721;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAM1BMVEX////4ol3+lDf8nEP7hTH3sHb8uHr9x5HvgjTccCbxdCv0ey365M/98ur////UZyH41bQKCY76AAAAAXRSTlMAQObYZgAAAAFiS0dEDm+9ME8AAAAJcEhZcwAACxMAAAsTAQCanBgAAAB/SURBVHhebc83FoRQDENR5Phj2P9qR3CYDnfvqvL1efNAFTn/PaCRGaLnbY6hNNgjE0jVtUQSZRJS2TdQShIQoSIEM6AQJNkE48Um2A02lvXeH1AHN8/eGlAJWdKsr9Vai+qEWcAVYJc9CNepGkywD/ORCndU9nvD697bx+fnP09wBLDgAeJUAAAAAElFTkSuQmCC)
}
.warning a {
	color: #514721
}
.info {
	background-color: #d5edf8;
	border: 2px solid #92cae4;
	color: #205791;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAM1BMVEX///9YjONeju9qlex7ou2Fqe+UsvCkvffc5PXw9f67y/FNe9FDb8rE0/H///+wxPK4ye8p1NT7AAAAAXRSTlMAQObYZgAAAAlwSFlzAAALEwAACxMBAJqcGAAAAIVJREFUeF5tj8kOg0AMQ2tnnQ36/1/bDNAbPkR6T0rkfF7Tuoro2f6cKh7hIuthsTCpobhMUwvm0Zxl9tYpQXZfjQxECXVjxQ/SDCUYsrmtPeclWDk6gVvItZIGQG3sowgSXQHE8BINGkBqsczcRdbQMECLv3fVPoa52yh+kj7mnJ6vn/8A/N4D4ObQweQAAAAASUVORK5CYII=)
}
.info a {
	color: #205791
}
.justify, body, #container, .items-list, .imgtext-h-block li, .mix-list .mix-item, .imgtext-h, .flex-conter-list, .flex-center, .item-list-200 .flex-center-img, .tabs-arrow, .tabs-color, .flex-table .tr {
	display: -webkit-flex;
	display: -moz-flex;
	display: -o-flex;
	display: -ms-flex;
	display: flex
}
.justify {
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	justify-content: space-between
}
.justify .justify-right {
	-webkit-align-self: center;
	-moz-align-self: center;
	align-self: center
}
.demo-title {
	background-color: #00a3cf;
	color: #fff;
	margin-bottom: 20px;
	padding-left: 10px
}
.booking_info {
	color: #10A200
}
.price {
	color: #f60
}
.price dfn {
	color: #333;
	display: inline-block;
	vertical-align: 8px;
	font-family: arial
}
.price b {
	font-weight: normal;
	font-size: 24px;
	margin-right: 5px;
	margin-left: 3px
}
html {
	height: 100%
}
body {
	min-height: 100%;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	flex-direction: column
}
#header {
	background-color: #00a3cf;
	color: #fff;
	text-align: center
}
#footer {
	background-color: #E1DACF;
	text-align: center
}
#container {
	padding: 20px 0;
	-webkit-flex: 1;
	-moz-flex: 1;
	flex: 1;
	max-width: 1000px
}
#main {
	-webkit-flex: 1;
	-moz-flex: 1;
	flex: 1
}
#main, .aside {
	padding: 10px
}
.aside {
	background-color: #EFEFEF;
	width: 200px
}
#aside_left {
	-webkit-order: -1;
	-moz-order: -1;
	order: -1;
	margin-right: 20px
}
#aside_right {
	margin-left: 20px
}
#header, #footer {
	padding: 20px
}
#header h1 {
	font-size: 30px;
	z-index: 5;
	position: relative;
	top: 56px;
	width: 80px;
	height: 80px;
	display: inline-block;
	color: #00A3CF
}
#header h1:before, #header h1:after {
	content: "";
	width: 40px;
	height: 40px;
	position: absolute;
	left: 0;
	top: 4px;
	z-index: -1;
	background-color: #fff;
	border-radius: 40px 0 0 0
}
#header h1:after {
	border-radius: 0 40px 0 0;
	left: 40px
}
#demo_links {
	position: absolute;
	top: 15px;
	left: 50%;
	margin-left: -100px;
	width: 200px;
	height: 200px;
	overflow: hidden;
	border-radius: 50%;
	overflow: hidden
}
#demo_links li {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 130px;
	height: 130px;
	overflow: hidden;
	margin-left: -130px;
	margin-top: -130px;
	background-color: #009bc5;
	font-size: 20px;
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	-o-transform-origin: 100% 100%;
	transform-origin: 100% 100%
}
#demo_links li:nth-of-type(1) {
	-webkit-transform: rotate(-1deg) skew(30deg);
	transform: rotate(-1deg) skew(30deg)
}
#demo_links li:nth-of-type(2) {
	-webkit-transform: rotate(60deg) skew(30deg);
	transform: rotate(60deg) skew(30deg)
}
#demo_links li:nth-of-type(3) {
	-webkit-transform: rotate(121deg) skew(30deg);
	transform: rotate(121deg) skew(30deg)
}
#demo_links li:hover,
#demo_links li.active {
	background-color: #008bb0
}
#demo_links li a {
	display: block;
	position: absolute;
	top: 20px;
	left: 12px;
	line-height: 160px;
	width: 160px;
	height: 160px;
	/*border-radius: 50%;*/
	color: #fff;
	-webkit-transform: skew(-30deg) rotate(-59deg) ;
	transform: skew(-30deg) rotate(-59deg)
}
#footer a {
	margin: 0 10px
}
#switch {
	display: none
}
#switch:checked ~ article:nth-of-type(n+3) {
	display: none
}
.page-vertical article {
	padding: 10px;
	border-bottom: 1px solid #ddd
}
.page-vertical article:last-child {
	border-bottom: none
}
.page-vertical article:nth-of-type(2n) {
	background-color: #f9f9f9;
	-webkit-transform: skewX(6deg);
	-moz-transform: skewX(6deg);
	-o-transform: skewX(6deg);
	transform: skewX(6deg);
	-webkit-backface-visibility: hidden
}
.page-vertical article:nth-of-type(2n) p {
	-webkit-transform: skewX(-6deg);
	-moz-transform: skewX(-6deg);
	-o-transform: skewX(-6deg);
	transform: skewX(-6deg);
	-webkit-backface-visibility: hidden
}
.page-vertical article:nth-of-type(2n+1) {
	background-color: #f9f9f9;
	-webkit-transform: skewX(-6deg);
	-moz-transform: skewX(-6deg);
	-o-transform: skewX(-6deg);
	transform: skewX(-6deg);
	-webkit-backface-visibility: hidden
}
.page-vertical article:nth-of-type(2n+1) p {
	-webkit-transform: skewX(6deg);
	-moz-transform: skewX(6deg);
	-o-transform: skewX(6deg);
	transform: skewX(6deg);
	-webkit-backface-visibility: hidden
}
.page-vertical article p {
	margin-bottom: 20px
}
.page-vertical article p:last-child {
	margin: 0
}
.page-horizontal #main {
	background-color: #ededed
}
.page-horizontal #main ol {
	margin-left: 25px;
	list-style-type: decimal
}
#aside_left {
	-webkit-align-self: flex-start;
	-moz-align-self: flex-start;
	align-self: flex-start
}
.aside-nav li {
	background-color: #00a3cf;
	margin-bottom: 10px;
	line-height: 30px
}
.aside-nav li:last-child {
	margin-bottom: 0
}
.aside-nav li.current a, .aside-nav li:hover a {
	background-color: #007b9c;
	font-weight: bold
}
.aside-nav a {
	display: block;
	color: #fff;
	padding-left: 10px
}
.items-list {
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-bottom: 20px
}
.items-list li {
	position: relative;
	overflow: hidden
}
.items-list li:hover .hover {
	-webkit-transform: translateX(100%);
	-moz-transform: translateX(100%);
	-o-transform: translateX(100%);
	transform: translateX(100%)
}
.items-list li:hover .title {
	-webkit-transform: translateX(-100%);
	-moz-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%)
}
.items-list .hover {
	position: absolute;
	left: -100%;
	top: 0;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	width: 100%;
	height: 100%;
	text-align: center
}
.items-list .hover strong {
	margin: 22px 0 5px;
	line-height: 1.8;
	display: block
}
.items-list .hover span {
	display: block
}
.items-list .title {
	position: relative;
	display: block;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
	line-height: 24px;
	font-weight: normal;
	margin-top: -24px;
	text-align: center
}
.items-list-between {
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	justify-content: space-between
}
.items-list-around {
	-webkit-justify-content: space-around;
	-moz-justify-content: space-around;
	justify-content: space-around;
	background-color: #f9f9f9;
	padding: 20px 0
}
.imgtext-h-block li {
	padding: 10px 0;
	border-bottom: 1px dashed #ccc
}
.imgtext-h-block li:hover {
	background-color: #f9f9f9
}
.imgtext-h-block .img-left {
	width: 60px;
	margin-right: 10px
}
.imgtext-h-block .img-left img {
	width: 60px;
	height: 60px
}
.imgtext-h-block .text-right {
	-webkit-flex: 1;
	-moz-flex: 1;
	flex: 1
}
.imgtext-h-block .text-right h3 {
	font-size: 14px;
	line-height: 1.3;
	margin-bottom: 5px
}
.mix-list .mix-item {
	padding: 10px 0;
	border-bottom: 1px dashed #ccc
}
.mix-list .mix-item:hover {
	background-color: #e6f8fd
}
.mix-list .mix-item .left {
	width: 130px;
	margin-right: 15px
}
.mix-list .mix-item .middle {
	-webkit-flex: 1;
	-moz-flex: 1;
	flex: 1
}
.mix-list .mix-item .middle h3 {
	font-size: 14px;
	font-weight: bold;
	line-height: 1.3;
	margin-bottom: 10px
}
.mix-list .mix-item .right {
	margin-left: 15px;
	text-align: right
}
.imgtext-h {
	margin-bottom: 20px
}
.imgtext-h .img-left {
	width: 300px;
	margin-right: 20px
}
.imgtext-h .text-right {
	-webkit-flex: 1;
	-moz-flex: 1;
	flex: 1
}
.imgtext-h .text-right h3 {
	font-size: 14px;
	line-height: 1.3;
	margin-bottom: 5px
}
.imgtext-h .text-right .text-bd {
	min-height: 100px;
	margin-bottom: 20px
}
.imgtext-list-100 .img-left {
	width: 50px;
	margin-right: 10px
}
.imgtext-list-100 .text-right .text-bd {
	min-height: 50px
}
.flex-conter-list {
	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	justify-content: space-between;
	margin-bottom: 20px
}
.flex-center {
	width: 300px;
	height: 200px;
	background-color: #f9f9f9;
	border: 1px solid #ccc
}
.flex-center:hover {
	border-color: #00a3cf;
	box-shadow: 0 0 3px #00a3cf
}
.flex-center .center-inner {
	margin: auto
}
.flex-center-300 {
	height: 300px;
	background-color: #f9f9f9
}
.item-list-200 li {
	width: 200px
}
.item-list-200 .flex-center-img {
	border: 1px solid #ccc;
	width: 200px;
	height: 200px
}
.item-list-200 .flex-center-img img {
	margin: auto;
	max-width: 190px;
	max-height: 190px
}
.justify-tabs {
	border-bottom: 3px solid #00a3cf;
	margin-bottom: 20px
}
.tabs-arrow span {
	font-size: 16px;
	font-weight: bold;
	margin-right: 10px;
	padding: 0 10px;
	line-height: 30px;
	position: relative;
	cursor: pointer
}
.tabs-arrow span.active, .tabs-arrow span:hover {
	color: #00a3cf
}
.tabs-arrow span.active:after, .tabs-arrow span:hover:after {
	position: absolute;
	left: 50%;
	margin-left: -5px;
	bottom: -8px;
	content: "";
	width: 4px;
	height: 4px;
	background-color: #fff;
	border: 3px solid #00a3cf;
	border-color: #00a3cf #fff #fff #00a3cf;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg)
}
.depart-city {
	position: relative;
	cursor: pointer
}
.depart-city .city-selected:after {
	content: "";
	width: 0;
	height: 0;
	border-top: 5px solid #ccc;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	margin-left: 5px;
	display: inline-block;
	vertical-align: middle
}
.depart-city .city-list {
	position: absolute;
	display: none
}
.tabs-color {
	border-bottom: 1px solid #ccc;
	margin-bottom: 20px
}
.tabs-color a {
	line-height: 30px;
	background-color: #ccc;
	margin-right: 10px;
	padding: 0 10px
}
.flex-table {
	font-size: 12px
}
.flex-table .tr {
	border-bottom: 1px dashed #ccc
}
.flex-table .tr>div {
	padding: 10px
}
.flex-table .th {
	font-weight: bold;
	width: 100px
}