ul.inline-block li, .ir, .box-complete .con-info {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

.fl {
  float: left;
  display: inline;
}

.fr {
  float: right;
  display: inline;
}

.clearfix, ul.inline-float {
  *zoom: 1;
}
.clearfix:before, ul.inline-float:before, .clearfix:after, ul.inline-float:after {
  content: "";
  display: table;
  font: 0/0 a;
}
.clearfix:after, ul.inline-float:after {
  clear: both;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.invisible {
  visibility: hidden;
}

ul.has-style, ul.disc, ul.circle, ul.square {
  margin-left: 25px;
  list-style: disc;
}

.ir {
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  line-height: 99;
  overflow: hidden;
}

#nav li, .img-transition img {
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 1em 40px;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

p,
pre {
  margin: 1em 0;
}

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

q {
  quotes: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

dl,
menu,
ol,
ul {
  margin: 1em 0;
}

dd {
  margin: 0 0 0 40px;
}

menu,
ol,
ul {
  padding: 0 0 0 40px;
}

nav ul,
nav ol {
  list-style-image: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  font-size: 14px;
  line-height: 1.5;
  color: #333333;
  background-color: white;
}

body,
button,
input,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Tahoma, sans-serif;
}

img {
  border: 0 none;
  vertical-align: middle;
}

textarea {
  resize: vertical;
}

h1, h2, h3, h4, h5, h6, p, figure, form {
  margin: 0;
}

ul, ol, li, dl, dd {
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none outside none;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #cccccc;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #cccccc;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #cccccc;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #cccccc;
}

@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
.tal {
  text-align: left;
}

.tar {
  text-align: right;
}

.tac {
  text-align: center;
}

.gray {
  color: #cccccc;
}

a {
  text-decoration: none;
  color: #0088cc;
}
a:hover {
  color: #006699;
}

h1, h2, h3 {
  line-height: 2;
  font-weight: normal;
}

h1 {
  font-size: 21px;
}

h2 {
  font-size: 18.2px;
}

h3 {
  font-size: 16.38px;
}

h4 {
  font-size: 14px;
}

h5, h6 {
  font-size: 11.9px;
  text-transform: uppercase;
}

ul.circle {
  list-style: circle;
}

ul.square {
  list-style: square;
}

ul.inline-float li {
  float: left;
  display: inline;
}

ul.inline-block li {
  margin-right: 8px;
}

blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 10px;
  border-left: 3px solid #cccccc;
}
blockquote small {
  font-size: 11.9px;
  display: block;
  line-height: 1.5;
  color: #999999;
}
blockquote small:before {
  content: '\2014 \00A0';
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}

address {
  display: block;
  margin-bottom: 10px;
  font-style: normal;
  line-height: 1.5;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.article {
  line-height: 1.6;
}
.article h1, .article h2, .article h3, .article h4, .article h5, .article h6 {
  line-height: 1.3;
  margin-bottom: 10px;
}
.article ul, .article ol {
  margin-left: 25px;
  list-style-type: disc;
}
.article ol {
  list-style-type: decimal;
}
.article p, .article ul, .article ol, .article dl {
  margin-bottom: 10px;
}
.article ul ul, .article ul ol, .article ol ol, .article ol ul {
  margin-bottom: 0;
}
.article dt {
  font-weight: bold;
  line-height: 1.8;
}
.article dd {
  margin-left: 2em;
}
.article img {
  margin-bottom: 10px;
  border: 1px solid #cccccc;
  padding: 2px;
}
.article .fr img {
  margin-left: 10px;
}
.article .fl img {
  margin-right: 10px;
}

.error, .success, .warning, .info {
  padding: 8px;
  padding-left: 25px;
  background-position: 5px center;
  background-repeat: no-repeat;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.error a, .success a, .warning a, .info a {
  text-decoration: underline;
}

.error {
  background-color: #fbe3e4;
  border: 2px solid #fbc2c4;
  color: #8a1f11;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAKlBMVEX////XY1Hma1rsfGbzhm3vloXwqZz3uanxwLX4z8f76+j//v7////KWkTZGHxrAAAAAXRSTlMAQObYZgAAAAFiS0dEDIGzUWMAAAAJcEhZcwAACxMAAAsTAQCanBgAAACSSURBVHheTc4xC4JAAEDhBwaZUy5tQYgYrl0QBW3aUNvh5WqEBI2WzbU2FbS5SESEa/QT2htb/C/R5pve+FHpEXhHgIa32okTcAkDP3XB8FNPhDJHH0xvw2cSUYv7RSZVB20rZm/L+aBtRFb0/qPc1+iqmtS7jrQOiwjDTiyzNc7hPJH28gvo5jwu9wD3drmuGH4w6SDkKQ/JcAAAAABJRU5ErkJggg==);
}
.error a {
  color: #8a1f11;
}

.success {
  background-color: #e6efc2;
  border: 2px solid #c6d880;
  color: #264409;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAMFBMVEX///88kTZIoTZnuktxwGB+xG2Vyoag1pSr2J2y26e64LPT4c7j8OD9/vz///80fTAtdG2AAAAAAXRSTlMAQObYZgAAAAFiS0dEDm+9ME8AAAAJcEhZcwAACxMAAAsTAQCanBgAAACcSURBVHheTY6vCsJQHIUPLih6g/gCJotFmEMw+1PwRrmiQ8SBfxhilctewGRSh1XDjBZ9gCXBF1j0Ce5A65J3baecD074DjJ5d5r7tEuWdzYvAB7r7ehWB1grEEN7EKLABVFwdGBIQVytysj5/HmPxl8NUxUvNBiy+4ksPeXbNJnTwQGrnYj6sxC42suenwAoVtxdI1XgVf1tMh/++cUnmPeAc0MAAAAASUVORK5CYII=);
}
.success a {
  color: #264409;
}

.warning {
  background-color: #fff6bf;
  border: 2px solid #ffd324;
  color: #514721;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAM1BMVEX////4ol3+lDf8nEP7hTH3sHb8uHr9x5HvgjTccCbxdCv0ey365M/98ur////UZyH41bQKCY76AAAAAXRSTlMAQObYZgAAAAFiS0dEDm+9ME8AAAAJcEhZcwAACxMAAAsTAQCanBgAAAB/SURBVHhebc83FoRQDENR5Phj2P9qR3CYDnfvqvL1efNAFTn/PaCRGaLnbY6hNNgjE0jVtUQSZRJS2TdQShIQoSIEM6AQJNkE48Um2A02lvXeH1AHN8/eGlAJWdKsr9Vai+qEWcAVYJc9CNepGkywD/ORCndU9nvD697bx+fnP09wBLDgAeJUAAAAAElFTkSuQmCC);
}
.warning a {
  color: #514721;
}

.info {
  background-color: #d5edf8;
  border: 2px solid #92cae4;
  color: #205791;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAAM1BMVEX///9YjONeju9qlex7ou2Fqe+UsvCkvffc5PXw9f67y/FNe9FDb8rE0/H///+wxPK4ye8p1NT7AAAAAXRSTlMAQObYZgAAAAlwSFlzAAALEwAACxMBAJqcGAAAAIVJREFUeF5tj8kOg0AMQ2tnnQ36/1/bDNAbPkR6T0rkfF7Tuoro2f6cKh7hIuthsTCpobhMUwvm0Zxl9tYpQXZfjQxECXVjxQ/SDCUYsrmtPeclWDk6gVvItZIGQG3sowgSXQHE8BINGkBqsczcRdbQMECLv3fVPoa52yh+kj7mnJ6vn/8A/N4D4ObQweQAAAAASUVORK5CYII=);
}
.info a {
  color: #205791;
}

#container, .item-list {
  display: -webkit-flex;
  display: -moz-flex;
  display: -o-flex;
  display: -ms-flex;
  display: flex;
}

html, body {
  height: 100%;
}

body {
  padding-left: 220px;
}

code {
  background-color: #f9f9f9;
  padding: 0 5px;
  margin: 0 5px;
}

.mb20 {
  margin-bottom: 20px;
}

#aside {
  width: 220px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #00a3cf;
}

#container {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
}

#main {
  margin: 0 100px 40px;
  -webkit-flex: 1;
  -moz-flex: 1;
  flex: 1;
}

#footer {
  height: 60px;
  line-height: 60px;
  background-color: whitesmoke;
  text-align: center;
}

#header h1 {
  line-height: 60px;
  text-align: center;
  background-color: #007b9c;
}
#header h1 a {
  color: #fff;
  display: block;
}

#nav li {
  line-height: 40px;
  border-top: 1px solid #008fb5;
  border-bottom: 1px solid #00b7e9;
}
#nav li:first-child {
  border-top: none;
}
#nav li:last-child {
  border-bottom: none;
}
#nav li:hover, #nav li.active {
  background-color: #008fb5;
}
#nav a {
  color: #fff;
  display: block;
  padding: 0 10px;
}

.title {
  text-align: center;
  font-size: 36px;
  margin-bottom: 20px;
  color: #00a3cf;
  font-weight: bold;
}
.title:before {
  content: "{";
  margin-right: 10px;
  font-weight: normal;
}
.title:after {
  content: "}";
  margin-left: 10px;
  font-weight: normal;
}

#rotate-3d {
  position: relative;
  width: 600px;
  margin: 200px auto 0;
}
#rotate-3d:before, #rotate-3d:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 348px;
  background-color: #cccccc;
  top: -117px;
  left: 50%;
  margin-left: 1px;
  -webkit-transform-origin: center top;
  -moz-transform-origin: center top;
  -o-transform-origin: center top;
  transform-origin: center top;
}
#rotate-3d:before {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg);
}
#rotate-3d:after {
  -webkit-transform: rotate(-60deg);
  -moz-transform: rotate(-60deg);
  -o-transform: rotate(-60deg);
  transform: rotate(-60deg);
}
#rotate-3d ul {
  width: 600px;
  height: 120px;
  border-radius: 50%;
  border: 2px solid #cccccc;
  -webkit-transform: rotateX(60deg) translateY(-5px);
  -moz-transform: rotateX(60deg) translateY(-5px);
  -o-transform: rotateX(60deg) translateY(-5px);
  transform: rotateX(60deg) translateY(-5px);
}
#rotate-3d li {
  position: absolute;
  top: 150px;
  width: 20px;
  text-align: center;
  background-color: #00a3cf;
  left: 50%;
}
#rotate-3d li:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 100px;
  top: -100px;
  left: 50%;
  background-color: #cccccc;
  margin-left: -1px;
}
#rotate-3d li:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  left: 0;
  bottom: -20px;
  border: 10px solid #00a3cf;
  border-color: #00a3cf transparent transparent #00a3cf;
}
#rotate-3d li a {
  color: #fff;
  display: block;
  padding: 5px 0;
}
#rotate-3d li:nth-of-type(1) {
  -webkit-transform: translateX(-10px) scaleY(2);
  -moz-transform: translateX(-10px) scaleY(2);
  -o-transform: translateX(-10px) scaleY(2);
  transform: translateX(-10px) scaleY(2);
  top: 243px;
}
#rotate-3d li:nth-of-type(2) {
  -webkit-transform: translateX(-283px) scaleY(2);
  -moz-transform: translateX(-283px) scaleY(2);
  -o-transform: translateX(-283px) scaleY(2);
  transform: translateX(-283px) scaleY(2);
  top: 354px;
}
#rotate-3d li:nth-of-type(3) {
  -webkit-transform: translateX(-190px) scaleY(2);
  -moz-transform: translateX(-190px) scaleY(2);
  -o-transform: translateX(-190px) scaleY(2);
  transform: translateX(-190px) scaleY(2);
  top: 207px;
}
#rotate-3d li:nth-of-type(3):before {
  height: 75px;
  top: -75px;
}
#rotate-3d li:nth-of-type(4) {
  -webkit-transform: translateX(-98px) scaleY(2);
  -moz-transform: translateX(-98px) scaleY(2);
  -o-transform: translateX(-98px) scaleY(2);
  transform: translateX(-98px) scaleY(2);
  top: 316px;
}
#rotate-3d li:nth-of-type(4):before {
  height: 70px;
  top: -70px;
}
#rotate-3d li:nth-of-type(5) {
  -webkit-transform: translateX(77px) scaleY(2);
  -moz-transform: translateX(77px) scaleY(2);
  -o-transform: translateX(77px) scaleY(2);
  transform: translateX(77px) scaleY(2);
  top: 426px;
}
#rotate-3d li:nth-of-type(5):before {
  height: 125px;
  top: -125px;
}
#rotate-3d li:nth-of-type(6) {
  -webkit-transform: translateX(267px) scaleY(2);
  -moz-transform: translateX(267px) scaleY(2);
  -o-transform: translateX(267px) scaleY(2);
  transform: translateX(267px) scaleY(2);
  top: 330px;
}
#rotate-3d li:nth-of-type(7) {
  -webkit-transform: translateX(160px) scaleY(2);
  -moz-transform: translateX(160px) scaleY(2);
  -o-transform: translateX(160px) scaleY(2);
  transform: translateX(160px) scaleY(2);
  top: 257px;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotateY(0);
  }

  20% {
    -webkit-transform: rotateY(25deg);
  }

  25% {
    -webkit-transform: rotateY(30deg);
  }

  30% {
    -webkit-transform: rotateY(25deg);
  }

  50% {
    -webkit-transform: rotateY(0);
  }

  70% {
    -webkit-transform: rotateY(-25deg);
  }

  75% {
    -webkit-transform: rotateY(-30deg);
  }

  80% {
    -webkit-transform: rotateY(-25deg);
  }

  100% {
    -webkit-transform: rotateY(0);
  }
}

@-moz-keyframes spin {
  0% {
    -moz-transform: rotateY(0);
  }

  20% {
    -moz-transform: rotateY(25deg);
  }

  25% {
    -moz-transform: rotateY(30deg);
  }

  30% {
    -moz-transform: rotateY(25deg);
  }

  50% {
    -moz-transform: rotateY(0);
  }

  70% {
    -moz-transform: rotateY(-25deg);
  }

  75% {
    -moz-transform: rotateY(-30deg);
  }

  80% {
    -moz-transform: rotateY(-25deg);
  }

  100% {
    -moz-transform: rotateY(0);
  }
}

.guide-title {
  color: #00a3cf;
  font-size: 20px;
}
.guide-title:before {
  content: '//';
  margin-right: 10px;
  color: #cccccc;
}

figure {
  display: inline-block;
}
figure figcaption {
  text-align: center;
  line-height: 30px;
}

.item-list {
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
}

.multi-bg {
  margin-top: 20px;
  width: 100%;
  height: 300px;
  background: url(../images/1.jpg) left top no-repeat, url(../images/2.jpg) right center no-repeat #f9f9f9;
}

.css3-bg {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
}

.linear-bg {
  background: #87e0fd;
  background: -moz-linear-gradient(-45deg, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
  background: -webkit-linear-gradient(-45deg, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
  background: -o-linear-gradient(-45deg, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
  background: -ms-linear-gradient(-45deg, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
  background: linear-gradient(135deg, #87e0fd 0%, #53cbf1 40%, #05abe0 100%);
}

.radial-bg {
  background: #87e0fd;
  background: -moz-radial-gradient(center, ellipse cover, #87e0fd 0%, #05abe0 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #87e0fd 0%, #05abe0 100%);
  background: -o-radial-gradient(center, ellipse cover, #87e0fd 0%, #05abe0 100%);
  background: -ms-radial-gradient(center, ellipse cover, #87e0fd 0%, #05abe0 100%);
  background: radial-gradient(ellipse at center, #87e0fd 0%, #05abe0 100%);
}

.ir {
  vertical-align: middle;
  height: 115px;
  width: 125px;
  background: url(http://cdn2.w3cplus.com/sites/all/themes/w3cplusResponsive/logo.png) no-repeat #00a3cf;
}

.box-border {
  border: 1px solid #ccc;
  padding: 10px;
}

.box-complete {
  position: relative;
  padding: 40px;
  text-align: center;
}
.box-complete .con-info {
  font-size: 20px;
  line-height: 64px;
}

.icon-success {
  background: url(../images/icon-msg.png) no-repeat;
  display: inline-block;
  height: 64px;
  width: 64px;
  overflow: hidden;
  position: absolute;
  margin-left: -80px;
}

.demo-beauty figure {
  margin-bottom: 20px;
}
.demo-beauty figure figcaption {
  display: block;
}

.img-radius img {
  border-radius: 20px;
}

.img-border img {
  padding: 2px;
  border: 1px solid #ccc;
}

.img-shadow img {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.img-filter img {
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  filter: grayscale(1);
}

.img-transition img:hover {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}

.img-decoration {
  position: relative;
  margin-top: 40px;
}
.img-decoration:after {
  content: "";
  width: 100px;
  height: 30px;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 50%;
  top: -15px;
  margin-left: -50px;
}

.img-effects {
  position: relative;
}
.img-effects:after {
  content: "";
  width: 310px;
  height: 232px;
  position: absolute;
  left: 0;
  top: 0;
  background: -moz-linear-gradient(-35deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0) 51%);
  background: -webkit-linear-gradient(-35deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0) 51%);
  background: -o-linear-gradient(-35deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0) 51%);
  background: -ms-linear-gradient(-35deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0) 51%);
  background: linear-gradient(125deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0) 51%);
}

.img-clip img {
-webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.img-mask img{
    -webkit-mask-image: -webkit-linear-gradient(top, rgba(0,0,0,1) 35%, rgba(0,0,0,0) 50%);
    /*mask-image: -webkit-linear-gradient(top, rgba(0,0,0,1) 35%, rgba(0,0,0,0) 50%);*/
}
.img-mask img:hover{
    -webkit-mask-image: -webkit-linear-gradient(top, rgba(0,0,0,0) 35%, rgba(0,0,0,1) 50%);
    /*mask-image: -webkit-linear-gradient(top, rgba(0,0,0,1) 35%, rgba(0,0,0,0) 50%);*/
}